{{ $db := dbGet 0 "cuvant" }}{{ $perms := `ManageMessages`}}{{ $db = $db.Value }}{{ $out1 := cslice }}{{ $out2 := cslice }}{{ $action := .Cmd }}{{ $embed := sdict }}{{ $embed.Set "author" (sdict "name" .User.Username "icon_url" (.User.AvatarURL "256")) }}{{ $msg := "" }}
{{ if reFind $perms (exec "viewperms")}}
    {{ if eq (lower $action) "?addword" }}
	    {{ if eq (len .CmdArgs) 1 }}   
            {{ if $db }}
	    	    {{ $out1 = $out1.AppendSlice $db }}
            {{ end }}
            {{ if not (in $db (index .CmdArgs 0))}}
	    	    {{ $out1 = $out1.Append (str (index .CmdArgs 0)) }}
                {{ $embed.Set "description" (printf "Cuvantul **%s** a fost adaugat." (index .CmdArgs 0)) }}
            {{ else }}
                {{ $embed.Set "description" (printf "**%s** este deja in lista de cuvinte!" (index .CmdArgs 0)) }}
            {{ end }}
	    	{{ dbSet 0 "cuvant" $out1 }}
    	{{ else }}
	    	{{ $embed.Set "description" (printf "Sintaxa: `%s <cuvant>`. Poti adauga maxim un cuvant per comanda." $action) }}
	    {{ end }}
    {{ else if eq (lower $action) "?removeword" }}
	    {{ if eq (len .CmdArgs) 1 }}
            {{ if $db }}
                {{ $out1 = $out1.AppendSlice $db }}
            {{ end }}
            {{ if in $out1 (index .CmdArgs 0) }}
		        {{ range $k, $v := $db }}
		    	    {{ if ne $v (index $.CmdArgs 0) }}
		    		    {{ $out2 = $out2.Append . }}
		    	    {{ end }}
	    	    {{ end }}
		        {{ dbSet 0 "cuvant" $out2 }}
    	        {{ $embed.Set "description" (printf "Cuvantul **%s** a fost scos." (index .CmdArgs 0)) }}
            {{ else }}
                {{ $embed.Set "description" (printf "Cuvantul **%s** nu exista in lista de cuvinte" (index .CmdArgs 0)) }}
            {{ end }}
    	{{ else }}
	    {{ $embed.Set "description" (printf "Sintaxa: `%s <cuvant>`. Poti scoate maxim un cuvant per comanda." $action) }}
      {{ end }}
    {{ else if eq (lower $action) "?listword" }}
    	{{ range (dbTopEntries "cuvant" 99 0) }}
		{{ range .Value }}
    			{{ $msg = print $msg "\n" . }}
		{{ end }}
    	{{ end }}
    	{{ if $msg }}
    		{{ $embed.Set "description" (printf "Cuvinte: **%s**" $msg) }}
    	{{ else }}
    		{{ $embed.Set "description" "Nici un cuvant! Adauga folosind **?addword** sau **?removeword**" }}
    	{{ end }}
    {{ end }}
{{ else }}
    {{ $embed.Set "description" (printf "⛔ | Ai nevoie de permisiunea **%s** pentru a folosi aceasta comanda" $perms)}}
{{ end }}
{{ $embed.Set "color" 16741688 }}
{{ sendMessage nil (cembed $embed) }}